@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tw-animate-css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  height: auto;
}

html::-webkit-scrollbar {
  width: 3px;
  z-index: -1;
}

html::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: white;
}

html::-webkit-scrollbar-track {
  background-color: white;
}

.my-scrollbar::-webkit-scrollbar {
  height: 4px;
  width: 8px;
}

.my-scrollbar::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 20px;
}

.my-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #1b1c23;
}

.scrollbar::-webkit-scrollbar {
  height: 4px;
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: hsl(220 75% 12%);
  border-radius: 20px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: hsl(220 60% 20%);
}
